<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Simple workflow App</title>
 
 
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="https://gist.github.com/hellt/bc4fc51d6f1b9584605517f5c8d6a5a0/raw/1541916ad019f8b5349d7353489b6fd2d36513dd/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Workflow app - Step 1</h3>
        </div>
 
        <div class="jumbotron">
		{% if session['logged_in'] %}
                <p>You're logged in already!</p>
                {% else %}
                <form action="/login" method="POST">
                  <input type="username" name="username" placeholder="Username">
                  <input type="password" name="password" placeholder="Password">
                  <input type="submit" value="Log in">
                </form>
                {% endif %}
        </div>

        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>
 
    </div>
</body>
 
</html>
